html{
  background: linear-gradient(to top right, rgb(24, 21, 21),rgb(107, 151, 46))
}
h2{
  text-decoration: underline;
}
#container{
  border: solid 2pt;
  border-radius: 30px;
  position: absolute;
  width: 25%;
  left: 40%;
  top: 20%;
  text-align: center;
  background: linear-gradient(to top right, rgb(38, 199, 51),rgb(197, 30, 30))
}


#text,#pass{
  padding: 13px;
  margin: 12px;
  border-radius: 20px;
  width: 150px;
} 
#log{
  border-radius: 15px;
  padding: 15px;
  margin: 25px;
  width: 70px;
  height: 50px;
  background-color: rgb(147, 153, 145);
  color: rgb(1, 1, 1);
}
